<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andresrinivasan.new-terminal-window-v2</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>C0A69262-ACB4-40BB-A185-BE7345CAC838</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E22A9554-0E69-406D-8738-BD073B974D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>André Srinivasan</string>
	<key>description</key>
	<string>Update to Miro Mannino's New Terminal Window Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Terminal Window v2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ni</string>
				<key>subtext</key>
				<string>Default</string>
				<key>text</key>
				<string>New iTerm Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0A69262-ACB4-40BB-A185-BE7345CAC838</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python_version=$(ls ~/Library/Application\ Support/iTerm2/iterm2env/versions/*/bin/python3 | /usr/bin/sed -E 's/.*[\/](3[0-9.]+).*/\1/' | /usr/bin/sort  -t. --version-sort | /usr/bin/tail -n 1)
python=~/Library/Application\ Support/iTerm2/iterm2env/versions/${python_version}/bin/python3

${python} new_iterm.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ni</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python_version=$(ls ~/Library/Application\ Support/iTerm2/iterm2env/versions/*/bin/python3 | /usr/bin/sed -E 's/.*[\/](3[0-9.]+).*/\1/' | /usr/bin/sort  -t. --version-sort | /usr/bin/tail -n 1)
python=~/Library/Application\ Support/iTerm2/iterm2env/versions/${python_version}/bin/python3

${python} list_profiles.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select Profile</string>
				<key>title</key>
				<string>New iTerm Window</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E22A9554-0E69-406D-8738-BD073B974D35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>C0A69262-ACB4-40BB-A185-BE7345CAC838</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D0AB4D80-C4BF-42CC-A46D-3CB6BC1BEB11</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E22A9554-0E69-406D-8738-BD073B974D35</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/andresrinivasan/new-terminal-window-v2</string>
</dict>
</plist>
